src/main/webapp/WEB-INF/web.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="web-app" type="jav:web-appType" xmlns:jav="http://xmlns.jcp.org/xml/ns/javaee"/>
  <xs:complexType name="web-appType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="version"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>